<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<add key="DocsPath" value="C:\wopi-docs"/>
		<add key="HostName" value="http://laptop-5mbe54o4:{0}/wopi/"/>
		<add key="Port" value="8080"/>
	</appSettings>
</configuration>
