<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->

    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="SchemaName" value="dbo" />
    <add key="OracleSchemaName" value="EMORASALAT_LATEST_2" />
    <add key="IsOracleMigrationEnabled" value="true" />
    <add key="IsAuditingEnabled" value="false" />
    <add key="MultiTenantEnabled" value="false" />
    <add key="EnableCaching" value="true" />
    <add key="EnableSMS" value="false" />
    <add key="SystemDateFormat" value="dd/MM/yyyy" />
    <add key="SystemDateFormats" value="dd/MM/yyyy,dd/MM/yyyy hh:mm:ss tt,dd/MM/yyyy HH:mm:ss" />
    <add key="MaxCacheExpirationPeriodInMinutes" value="300" />
    <add key="ManagedRuntimeVersion" value="v4.0" />
    <add key="EnableSolrIndexing" value="false" />
    <add key="xCategoryID" value="0123" />
    <add key="xIdcProfile" value="1" />
    <add key="MultiTenantCreateDatabaseEnabled" value="false" />
    <add key="IsWCF" value="true" />
    <add key="HubCertificate" value="oracleosb1" />
    <add key="HubSourceAgency" value="Cloud" />
    <add key="HubDateFormat" value="yyyy-MM-ddTHH:mm:ss" />
    <add key="WebApiUrl" value="http://localhost/MCS.Service/" />
    <add key="RetrialsInterval" value="1" />
    <add key="NumberOfRetrials" value="3" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <!--<add connectionString="Server=10.161.9.185,1410;Database=MOJDB;Integrated Security=true" name="eMorasalat" providerName="System.Data.SqlClient"/>-->
    
    <add name="eMorasalat" connectionString="User Id=EMORASALAT_LATEST_2;Password=EMORASALAT_LATEST_2;Data Source=localhost:1521/xe" providerName="Oracle.ManagedDataAccess.Client" />

    
    <!--<add name="eMorasalat" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=NCS_CLOUD;Password=ncs_cloud;Data Source=192.168.200.220:1521/orcl" />-->
    <add name="eMorasalatTenants" providerName="System.Data.SqlClient" connectionString="server=.;database=eMorasalatTenantsHelal;user id=sa;password=P@ssw0rd;" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <typeAlias alias="transient" type="Microsoft.Practices.Unity.transientLifetimeManager, Microsoft.Practices.Unity.Mvc" />
      <typeAlias alias="singlton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    </typeAliases>
    <container>
      <register type="MCS.Framework.Persistence.IConnectionStringBuilder, MCS.Framework" mapTo="MCS.Framework.Persistence.SqlConnectionBuilder, MCS.Framework">
        <lifetime type="singlton" />
      </register>
      <register name="dbContext" type="MCS.Common.TransactionContext.IAmbienTTransactionContextLocator, MCS.Common" mapTo="MCS.Common.TransactionContext.AmbienTTransactionContextLocator, MCS.Common">
        <lifetime type="transient" />
      </register>
      <register name="tenantDbContext" type="MCS.Framework.Persistence.IDbContext, MCS.Framework" mapTo="MCS.DataAccess.MasterDbContext, MCS.DataAccess">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Common.TransactionContext.ITransactionContextScopeFactory, MCS.Common" mapTo="MCS.Common.TransactionContext.TransactionContextScopeFactory, MCS.Common">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Common.TransactionContext.ITransactionContextFactory, MCS.Common" mapTo="MCS.Common.TransactionContext.TransactionContextFactory, MCS.Common">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ISearchWrapper, MCS.DataAccess" mapTo="MCS.DataAccess.SearchWrapper, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <!--<register name="tenanTTransactionContext" type="MCS.Framework.Persistence.IDbContext, MCS.Framework" mapTo="MCS.DataAccess.eMorasalatTenanTTransactionContext, MCS.DataAccess">
        <lifetime type="transient" />
      </register>-->
      <!--<register type="MCS.Framework.Persistence.IUnitOfWork, MCS.Framework" mapTo="MCS.Framework.Persistence.UnitOfWork, MCS.Framework">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>-->
      <register type="MCS.Business.ILookupBL, MCS.Business" mapTo="MCS.Business.LookupBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.IYesserTrayBL, MCS.Business" mapTo="MCS.Business.YesserTrayBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.IOutboundExternalTrayBL, MCS.Business" mapTo="MCS.Business.OutboundExternalTrayBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.ICommonBL, MCS.Business" mapTo="MCS.Business.CommonBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ITransactionRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IAuditingBL, MCS.Business" mapTo="MCS.Business.AuditingBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.IAuditingRepository, MCS.DataAccess" mapTo="MCS.DataAccess.AuditingRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.ICultureRepository, MCS.DataAccess" mapTo="MCS.DataAccess.CultureRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.ILookupRepository, MCS.DataAccess" mapTo="MCS.DataAccess.LookupRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.ISearchWrapper, MCS.DataAccess" mapTo="MCS.DataAccess.SearchWrapper, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IUserManagementRepository, MCS.DataAccess" mapTo="MCS.DataAccess.UserManagementRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IOutboundDraftBL, MCS.Business" mapTo="MCS.Business.OutboundDraftBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register name="customSignInManager" type="MCS.Framework.Security.ICustomSignInManager, MCS.Framework" mapTo="MCS.Business.ASPNETIdentity.CustomSignInManager, MCS.Business">
        <lifetime type="transient" />
      </register>
      <!--region "Lookups Managments registration"-->
      <register type="MCS.Business.ISubjectClassificationBL, MCS.Business" mapTo="MCS.Business.SubjectClassificationBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ISubjectClassificationRepository, MCS.DataAccess" mapTo="MCS.DataAccess.SubjectClassificationRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ISuggestedTopicBL, MCS.Business" mapTo="MCS.Business.SuggestedTopicBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ISuggestedTopicRepository, MCS.DataAccess" mapTo="MCS.DataAccess.SuggestedTopicRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IPriorityBL, MCS.Business" mapTo="MCS.Business.PriorityBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.IPriorityRepository, MCS.DataAccess" mapTo="MCS.DataAccess.PriorityRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ITenantBL, MCS.Business" mapTo="MCS.Business.TenantBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <!--<register type="MCS.DataAccess.ITenantManagementRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TenantManagementRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>-->
      <register type="MCS.Business.IOrgUnitBL, MCS.Business" mapTo="MCS.Business.OrgUnitBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.IOrgUnitRepository, MCS.DataAccess" mapTo="MCS.DataAccess.OrgUnitRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ILinkBL, MCS.Business" mapTo="MCS.Business.LinkBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ILinkRepository, MCS.DataAccess" mapTo="MCS.DataAccess.LinkRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IFormBL, MCS.Business" mapTo="MCS.Business.FormBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.IFormRepository, MCS.DataAccess" mapTo="MCS.DataAccess.FormRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ILetterTypeBL, MCS.Business" mapTo="MCS.Business.LetterTypeBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ILetterTypeRepository, MCS.DataAccess" mapTo="MCS.DataAccess.LetterTypeRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IAttachmentTypeBL, MCS.Business" mapTo="MCS.Business.AttachmentTypeBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.IAttachmentTypeRepository, MCS.DataAccess" mapTo="MCS.DataAccess.AttachmentTypeRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <!--<register type="MCS.Business.ITransactionSourceTypeBL, MCS.Business" mapTo="MCS.Business.TransactionSourceTypeBL, MCS.Business">
        <lifetime type="transient"/>
      </register>-->
      <!--<register type="MCS.DataAccess.ITransactionSourceTypeRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionSourceTypeRepository, MCS.DataAccess">
        <lifetime type="transient"/>
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext"/>
        </constructor>
      </register>-->
      <register type="MCS.Business.IPermissionBL, MCS.Business" mapTo="MCS.Business.PermissionBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.IPermissionRepository, MCS.DataAccess" mapTo="MCS.DataAccess.PermissionRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ITrayBL, MCS.Business" mapTo="MCS.Business.TrayBaseBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ITrayRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TrayRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ITransactionDeliveryReportBL, MCS.Business" mapTo="MCS.Business.TransactionDeliveryReportBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ITransactionDeliveryReportRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionDeliveryReportRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IInboundBL, MCS.Business" mapTo="MCS.Business.InboundBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.IOutboundInternalBL, MCS.Business" mapTo="MCS.Business.OutboundInternalBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.IOutboundExternalBL, MCS.Business" mapTo="MCS.Business.OutboundExternalBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ITransactionRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ITransactionBL, MCS.Business" mapTo="MCS.Business.TransactionBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ICounterRepository, MCS.DataAccess" mapTo="MCS.DataAccess.CounterRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IDocumentAttributeRepository, MCS.DataAccess" mapTo="MCS.DataAccess.DocumentAttributeRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ICounterBL, MCS.Business" mapTo="MCS.Business.CounterBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.IBarcodeRepository, MCS.DataAccess" mapTo="MCS.DataAccess.BarcodeRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IBarcodeBL, MCS.Business" mapTo="MCS.Business.BarcodeBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ITransactionAssignmentRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionAssignmentRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ITransactionAssignmentBL, MCS.Business" mapTo="MCS.Business.TransactionAssignmentBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ITransactionHistoryRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionHistoryRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ITransactionHistoryBL, MCS.Business" mapTo="MCS.Business.TransactionHistoryBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ITransactionAssignmentHistoryRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionAssignmentHistoryRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ITransactionAssignmentHistoryBL, MCS.Business" mapTo="MCS.Business.TransactionAssignmentHistoryBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.INameRepository, MCS.DataAccess" mapTo="MCS.DataAccess.NameRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.INameBL, MCS.Business" mapTo="MCS.Business.NameBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <!--<register type="MCS.Framework.Notifications.ISignalRNotificationService, MCS.Framework" mapTo="MCS.Framework.Notifications.SignalRNotificationService, MCS.Framework">
        <lifetime type="transient" />
      </register>-->
      <!--End region "Lookups Managments registration"-->
      <!--region "Document Managments registration"-->
      <register type="MCS.Business.IDocumentBL, MCS.Business" mapTo="MCS.Business.DocumentBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.IDocumentRepository, MCS.DataAccess" mapTo="MCS.DataAccess.DocumentRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.ISearchWrapper, MCS.DataAccess" mapTo="MCS.DataAccess.SearchWrapper, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <!--End region "Document Managments registration"-->
      <!--region "UserCategory Managments registration"-->
      <register type="MCS.DataAccess.IUserCategoryRepository, MCS.DataAccess" mapTo="MCS.DataAccess.UserCategoryRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IFileBL, MCS.Business" mapTo="MCS.Business.FileBL, MCS.Business">
        <lifetime type="transient" />
        <constructor />
      </register>
      <register type="MCS.Business.IEditorBL, MCS.Business" mapTo="MCS.Business.EditorBL, MCS.Business">
        <lifetime type="transient" />
        <constructor />
      </register>
      <register type="MCS.Business.ITransactionTaskBL, MCS.Business" mapTo="MCS.Business.TransactionTaskBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ITransactionTaskRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionTaskRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IExplanationRepository, MCS.DataAccess" mapTo="MCS.DataAccess.ExplanationRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.ITaskHistoryRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TaskHistoryRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.ITaskReminderRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TaskReminderRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <!--End region "UserCategory Managments registration"-->
      <register type="MCS.Framework.Security.IMemeberShipProvider, MCS.Framework" mapTo="MCS.Business.ASPNETIdentity.AspNetIdentityProvider, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.IUserManagementBL, MCS.Business" mapTo="MCS.Business.UserManagementBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.IActionBL, MCS.Business" mapTo="MCS.Business.ActionBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.IActionRepository, MCS.DataAccess" mapTo="MCS.DataAccess.ActionRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IExternalPartyBL, MCS.Business" mapTo="MCS.Business.ExternalPartyBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.IExternalPartyRepository, MCS.DataAccess" mapTo="MCS.DataAccess.ExternalPartyRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.ISettingRepository, MCS.DataAccess" mapTo="MCS.DataAccess.SettingRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ISettingBL, MCS.Business" mapTo="MCS.Business.SettingBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.ITransactionIndexLogBL, MCS.Business" mapTo="MCS.Business.TransactionIndexLogBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ITransactionIndexLogRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionIndexLogRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ITransactionLoggingBL, MCS.Business" mapTo="MCS.Business.TransactionLoggingBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ITransactionLoggingRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionLoggingRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.INotificationBL, MCS.Business" mapTo="MCS.Business.NotificationBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.INotificationRepository, MCS.DataAccess" mapTo="MCS.DataAccess.NotificationRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ICopiesTrayBL, MCS.Business" mapTo="MCS.Business.CopiesTrayBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.ICopiesOutboundTrayBL, MCS.Business" mapTo="MCS.Business.CopiesOutboundTrayBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.IDraftOutboundTrayBL, MCS.Business" mapTo="MCS.Business.DraftOutboundTrayBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.IManagerTrayBL, MCS.Business" mapTo="MCS.Business.ManagerTrayBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.IMyTransactionsTrayBL, MCS.Business" mapTo="MCS.Business.MyTransactionsTrayBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.IOrgUnitTrayBL, MCS.Business" mapTo="MCS.Business.OrgUnitTrayBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.ISavedTrayBL, MCS.Business" mapTo="MCS.Business.SavedTrayBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.ISentTransactionsTrayBL, MCS.Business" mapTo="MCS.Business.SentTransactionsTrayBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Framework.Notifications.IEmailNotificationService, MCS.Framework" mapTo="MCS.Framework.Notifications.EmailNotificationService, MCS.Framework">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Framework.Notifications.ISMSNotificationService, MCS.Framework" mapTo="MCS.Business.SMSNotificationService, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.ICollaborationBL, MCS.Business" mapTo="MCS.Business.CollaborationBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ICollaborationRepository, MCS.DataAccess" mapTo="MCS.DataAccess.CollaborationRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IDocProvidersRepository, MCS.DataAccess" mapTo="MCS.DataAccess.DocProvidersRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IUserPreferenceRepository, MCS.DataAccess" mapTo="MCS.DataAccess.UserPreferenceRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ITenantBL, MCS.Business" mapTo="MCS.Business.TenantBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.IHubTransactionRepository, MCS.DataAccess" mapTo="MCS.DataAccess.HubTransactionRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IHubRecordRepository, MCS.DataAccess" mapTo="MCS.DataAccess.HubRecordRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IHubRQUIDRepository, MCS.DataAccess" mapTo="MCS.DataAccess.HubRQUIDRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IHubTransactionBL, MCS.Business" mapTo="MCS.Business.HubTransactionBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.IHubRecordBL, MCS.Business" mapTo="MCS.Business.HubRecordBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.IHubRQUIDBL, MCS.Business" mapTo="MCS.Business.HubRQUIDBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <!--<register type="MCS.DataAccess.IYesserMappingRepository, MCS.DataAccess" mapTo="MCS.DataAccess.YesserMappingRepository, MCS.DataAccess">
        <lifetime type="transient"/>
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext"/>
        </constructor>
      </register>-->
      <register type="MCS.DataAccess.IYesserMappingRepository, MCS.DataAccess" mapTo="MCS.DataAccess.YesserMappingRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IYesserMappingBL, MCS.Business" mapTo="MCS.Business.YesserMappingBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.Business.ITenantBL, MCS.Business" mapTo="MCS.Business.TenantBL, MCS.Business">
        <lifetime type="transient" />
      </register>
      <register type="MCS.DataAccess.ITenantManagementRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TenantManagementRepository, MCS.DataAccess">
        <lifetime type="transient" />
        <constructor>
          <param name="context" dependencyName="tenantDbContext" />
        </constructor>
      </register>
    </container>
  </unity>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_AgencyInboundServicesInterface" closeTimeout="00:10:10" openTimeout="00:10:10" receiveTimeout="00:10:10" sendTimeout="00:10:10" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="MCS.YESSER.Proxy.AgencyInboundServices">
        <!--  <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/AgencyInboundServicesSimulator/Service1/" />
          </baseAddresses>
        </host>-->
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="basicHttpBinding" contract="IAgencyInboundServices" bindingConfiguration="BasicHttpBinding_AgencyInboundServicesInterface">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>

        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />

      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.6.0" newVersion="5.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.3.0" newVersion="5.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<entityFramework codeConfigurationType="MCS.DataAccess.CodeConfig,MCS.DataAccess" />-->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Flat File Trace Listener" fileName="C:\eMorasalat_logs\Service.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs/Crashes.log" footer="--------------------------------------------------" formatter="Text Formatter" header="------------ Rolling Flat File Trace Listener ------------" rollFileExistsBehavior="Increment" rollInterval="Day" timeStampPattern="MM-dd-yyyy" rollSizeKB="1024" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter" />
    </formatters>
    <logFilters>
      <add minimumPriority="0" maximumPriority="10" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Priority Filter" />
      <add enabled="true" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="LogEnabled Filter" />
      <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Category Filter" />
    </logFilters>
    <categorySources>
      <add switchValue="ActivityTracing" name="Trace">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
</configuration>