<NotificationSections>
  <Notification
       SMSOriginatingAddress = "eMorasalat"
        SMSPassword = "123456"
        SMSUserName = "962788258858"
        URLToSendHTTPSMS = "http://www.mobily.ws/api/msgSend.php"
        QueryURL = "http://www.mobily.ws/api/balance.php" />
  <EmailProvidersElement defaultProvider = "morasalattest">
    <EmailProviders>
      <clear />
      <add	Name = "morasalattest"
            From = "sohaibz@leaderssoft.com"
            UserName = "sohaibz@leaderssoft.com"
            Password = "P@$$w0rd@leaders"
            Host = "smtp.office365.com"
            Port = "587"
            EnableSSl="true"/>
    </EmailProviders>
  </EmailProvidersElement>
</NotificationSections>