<NotificationSections>
  <Notification       
        SMSOriginatingAddress = "eMorasalat"
        SMSPassword = "123456"
        SMSUserName = "962788258858"
        URLToSendHTTPSMS = "http://www.mobily.ws/api/msgSend.php"
        QueryURL = "http://www.mobily.ws/api/balance.php" />
  <EmailProvidersElement defaultProvider = "eMorasalat">
    <EmailProviders>
      <clear />
     <add	Name = "eMorasalat"
            From = "eMorasalat@sssit.net"
            UserName = "eMorasalat"
            Password = "p@ssw0rd"
            Host = "sss-ex01.sss-process.org"
            Port = "25" 
            EnableSSl="false"/>
    </EmailProviders>
  </EmailProvidersElement>
</NotificationSections>