<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="MultiTenantCustomUserManagerSectionGroup">
      <section name="MultiTenantCustomUserManager" type="MCS.Business.ASPNETIdentity.Configuration.MultiTenantCustomUserManagerConfiguration" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <MultiTenantCustomUserManagerSectionGroup>
    <MultiTenantCustomUserManager EmailBodyFormat="Your Email Body is {0}" PhoneNumberMessageFormat="Your Phone Number Message is {0}" RequireUniqueEmail="true" UserLockoutEnabledByDefault="true" AllowOnlyAlphanumericUserNames="true" MaxFailedAccessAttemptsBeforeLockout="5" DefaultAccountLockoutTimeSpan="5" PasswordRequiredLength="6" PasswordRequireNonLetterOrDigit="true" PasswordRequireDigit="true" PasswordRequireLowercase="false" PasswordRequireUppercase="false" PhoneCode="Phone Code" EmailCode="Email Code">
    </MultiTenantCustomUserManager>
  </MultiTenantCustomUserManagerSectionGroup>
  <connectionStrings>
    <add name="eMorasalat" connectionString="server=.;database=mersal;user id=sa;password=p@ssw0rd" providerName="System.Data.SqlClient" />
	<add name="eMorasalatTenants" connectionString="User Id=DBO;Password=1234;Data Source=167.172.225.252:1521/ORCL" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="tokenUrl" value="http://localhost/MCS.Tenants.Service/Token" />
    <add key="SystemDateFormat" value="dd/MM/yyyy" />
    <add key="SystemDateFormats" value="dd/MM/yyyy,dd/MM/yyyy hh:mm:ss tt,dd/MM/yyyy HH:mm:ss" />
    <add key="ManagedRuntimeVersion" value="v4.0" />
    <add key="OleDbCommandTimeout" value="600" />
    <add key="OracleSchemaName" value="DBO" />
    <add key="MultiTenantSchemaName" value="DBO" />
    <add key="SchemaName" value="DBO" />
    <add key="IsOracleMigrationEnabled" value="true" />    
    <add key="MultiTenantEnabled" value="true" />
    <add key="MultiTenantCreateDatabaseEnabled" value="true" />
    <add key="ShouldLockout" value="false" />
    <add key="SupportEmail" value="morasalattest@gmail.com" />
    <add key="EncryptionCertificateThumbprint" value="a09eaf87d39b64b008dfd29f5f761001598e797f" />

    <!--<add key="owin:AutomaticAppStartup" value="false" />-->
  </appSettings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="FlatFile TraceListener" fileName="C:\eMorasalat_logs\TenantApiLog.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="Formatted EventLog TraceListener" source="TenantApiLog" formatter="Text Formatter" log="TenantApiLog" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter" />
    </formatters>
    <logFilters>
      <add minimumPriority="0" maximumPriority="10" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Priority Filter" />
      <add enabled="true" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="LogEnabled Filter" />
      <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Category Filter" />
    </logFilters>
    <categorySources>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="FlatFile TraceListener" />
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener" />
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Information">
        <listeners>
          <add name="FlatFile TraceListener" />
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Warning">
        <listeners>
          <add name="FlatFile TraceListener" />
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener" />
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <typeAlias alias="perRequest" type="Microsoft.Practices.Unity.PerRequestLifetimeManager, Microsoft.Practices.Unity.Mvc" />
      <typeAlias alias="singlton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    </typeAliases>
    <container>
      <register type="MCS.Framework.Persistence.IConnectionStringBuilder, MCS.Framework" mapTo="MCS.Framework.Persistence.SqlConnectionBuilder, MCS.Framework">
        <lifetime type="singlton" />
      </register>
    <register type="MCS.Framework.Persistence.IOracleConnectionStringBuilder, MCS.Framework" mapTo="MCS.Framework.Persistence.OracleConnectionStringBuilder, MCS.Framework">
	    <lifetime type="singlton" />
    </register>
      <register name="dbContext" type="MCS.Common.TransactionContext.IAmbienTTransactionContextLocator, MCS.Common" mapTo="MCS.Common.TransactionContext.AmbienTTransactionContextLocator, MCS.Common">
        <lifetime type="perRequest" />
      </register>
      <register name="tenantDbContext" type="MCS.Framework.Persistence.IDbContext, MCS.Framework" mapTo="MCS.DataAccess.MasterDbContext, MCS.DataAccess">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Common.TransactionContext.ITransactionContextScopeFactory, MCS.Common" mapTo="MCS.Common.TransactionContext.TransactionContextScopeFactory, MCS.Common">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Common.TransactionContext.ITransactionContextFactory, MCS.Common" mapTo="MCS.Common.TransactionContext.TransactionContextFactory, MCS.Common">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.ISearchWrapper, MCS.DataAccess" mapTo="MCS.DataAccess.SearchWrapper, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ILookupBL, MCS.Business" mapTo="MCS.Business.LookupBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.IYesserTrayBL, MCS.Business" mapTo="MCS.Business.YesserTrayBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.IFollowUpTrayBL, MCS.Business" mapTo="MCS.Business.FollowUpTrayBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>

      <register type="MCS.Business.IReservationTrayBL, MCS.Business" mapTo="MCS.Business.ReservationTrayBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>

      <register type="MCS.Business.IReservationExternalOutboundTrayBL, MCS.Business" mapTo="MCS.Business.ReservationExternalOutboundTrayBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>

      <register type="MCS.Business.IOutboundExternalTrayBL, MCS.Business" mapTo="MCS.Business.OutboundExternalTrayBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.ICommonBL, MCS.Business" mapTo="MCS.Business.CommonBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.ITransactionRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IAuditingBL, MCS.Business" mapTo="MCS.Business.AuditingBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.IAuditingRepository, MCS.DataAccess" mapTo="MCS.DataAccess.AuditingRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.ICultureRepository, MCS.DataAccess" mapTo="MCS.DataAccess.CultureRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.ILookupRepository, MCS.DataAccess" mapTo="MCS.DataAccess.LookupRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.ISearchWrapper, MCS.DataAccess" mapTo="MCS.DataAccess.SearchWrapper, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IUserManagementRepository, MCS.DataAccess" mapTo="MCS.DataAccess.UserManagementRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IOutboundDraftBL, MCS.Business" mapTo="MCS.Business.OutboundDraftBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register name="customSignInManager" type="MCS.Framework.Security.ICustomSignInManager, MCS.Framework" mapTo="MCS.Business.ASPNETIdentity.CustomSignInManager, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <!--region "Lookups Managments registration"-->
      <register type="MCS.Business.ISubjectClassificationBL, MCS.Business" mapTo="MCS.Business.SubjectClassificationBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.ISubjectClassificationRepository, MCS.DataAccess" mapTo="MCS.DataAccess.SubjectClassificationRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ISuggestedTopicBL, MCS.Business" mapTo="MCS.Business.SuggestedTopicBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.ISuggestedTopicRepository, MCS.DataAccess" mapTo="MCS.DataAccess.SuggestedTopicRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IPriorityBL, MCS.Business" mapTo="MCS.Business.PriorityBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.IPriorityRepository, MCS.DataAccess" mapTo="MCS.DataAccess.PriorityRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IOrgUnitBL, MCS.Business" mapTo="MCS.Business.OrgUnitBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.IOrgUnitRepository, MCS.DataAccess" mapTo="MCS.DataAccess.OrgUnitRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ILinkBL, MCS.Business" mapTo="MCS.Business.LinkBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.ILinkRepository, MCS.DataAccess" mapTo="MCS.DataAccess.LinkRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IFormBL, MCS.Business" mapTo="MCS.Business.FormBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.IFormRepository, MCS.DataAccess" mapTo="MCS.DataAccess.FormRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ILetterTypeBL, MCS.Business" mapTo="MCS.Business.LetterTypeBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.ILetterTypeRepository, MCS.DataAccess" mapTo="MCS.DataAccess.LetterTypeRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IAttachmentTypeBL, MCS.Business" mapTo="MCS.Business.AttachmentTypeBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.IAttachmentTypeRepository, MCS.DataAccess" mapTo="MCS.DataAccess.AttachmentTypeRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <!--<register type="MCS.Business.ITransactionSourceTypeBL, MCS.Business" mapTo="MCS.Business.TransactionSourceTypeBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>-->
      <!--<register type="MCS.DataAccess.ITransactionSourceTypeRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionSourceTypeRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>-->
      <register type="MCS.Business.IPermissionBL, MCS.Business" mapTo="MCS.Business.PermissionBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.IPermissionRepository, MCS.DataAccess" mapTo="MCS.DataAccess.PermissionRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ITrayBL, MCS.Business" mapTo="MCS.Business.TrayBaseBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.ITrayRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TrayRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ITransactionDeliveryReportBL, MCS.Business" mapTo="MCS.Business.TransactionDeliveryReportBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.ITransactionDeliveryReportRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionDeliveryReportRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IInboundBL, MCS.Business" mapTo="MCS.Business.InboundBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.IOutboundInternalBL, MCS.Business" mapTo="MCS.Business.OutboundInternalBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.IOutboundExternalBL, MCS.Business" mapTo="MCS.Business.OutboundExternalBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.ITransactionRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ITransactionBL, MCS.Business" mapTo="MCS.Business.TransactionBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.ICounterRepository, MCS.DataAccess" mapTo="MCS.DataAccess.CounterRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IDocumentAttributeRepository, MCS.DataAccess" mapTo="MCS.DataAccess.DocumentAttributeRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ICounterBL, MCS.Business" mapTo="MCS.Business.CounterBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.IBarcodeRepository, MCS.DataAccess" mapTo="MCS.DataAccess.BarcodeRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IBarcodeBL, MCS.Business" mapTo="MCS.Business.BarcodeBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.ITransactionAssignmentRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionAssignmentRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ITransactionAssignmentBL, MCS.Business" mapTo="MCS.Business.TransactionAssignmentBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.ITransactionHistoryRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionHistoryRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ITransactionHistoryBL, MCS.Business" mapTo="MCS.Business.TransactionHistoryBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.ITransactionAssignmentHistoryRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionAssignmentHistoryRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ITransactionAssignmentHistoryBL, MCS.Business" mapTo="MCS.Business.TransactionAssignmentHistoryBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.INameRepository, MCS.DataAccess" mapTo="MCS.DataAccess.NameRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.INameBL, MCS.Business" mapTo="MCS.Business.NameBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Framework.Notifications.ISignalRNotificationService, MCS.Framework" mapTo="MCS.Framework.Notifications.SignalRNotificationService, MCS.Framework">
        <lifetime type="perRequest" />
      </register>
      <!--End region "Lookups Managments registration"-->
      <!--region "Document Managments registration"-->
      <register type="MCS.Business.IDocumentBL, MCS.Business" mapTo="MCS.Business.DocumentBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.IDocumentRepository, MCS.DataAccess" mapTo="MCS.DataAccess.DocumentRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.ISearchWrapper, MCS.DataAccess" mapTo="MCS.DataAccess.SearchWrapper, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <!--End region "Document Managments registration"-->
      <!--region "UserCategory Managments registration"-->
      <register type="MCS.DataAccess.IUserCategoryRepository, MCS.DataAccess" mapTo="MCS.DataAccess.UserCategoryRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IFileBL, MCS.Business" mapTo="MCS.Business.FileBL, MCS.Business">
        <lifetime type="perRequest" />
        <constructor />
      </register>
      <register type="MCS.Business.IEditorBL, MCS.Business" mapTo="MCS.Business.EditorBL, MCS.Business">
        <lifetime type="perRequest" />
        <constructor />
      </register>
      <register type="MCS.Business.ITransactionTaskBL, MCS.Business" mapTo="MCS.Business.TransactionTaskBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.ITransactionTaskRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionTaskRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IExplanationRepository, MCS.DataAccess" mapTo="MCS.DataAccess.ExplanationRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.ITaskHistoryRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TaskHistoryRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.ITaskReminderRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TaskReminderRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <!--End region "UserCategory Managments registration"-->
      <register type="MCS.Framework.Security.IMemeberShipProvider, MCS.Framework" mapTo="MCS.Business.ASPNETIdentity.AspNetIdentityProvider, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.IUserManagementBL, MCS.Business" mapTo="MCS.Business.UserManagementBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.IActionBL, MCS.Business" mapTo="MCS.Business.ActionBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.IActionRepository, MCS.DataAccess" mapTo="MCS.DataAccess.ActionRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IExternalPartyBL, MCS.Business" mapTo="MCS.Business.ExternalPartyBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.IExternalPartyRepository, MCS.DataAccess" mapTo="MCS.DataAccess.ExternalPartyRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.ISettingRepository, MCS.DataAccess" mapTo="MCS.DataAccess.SettingRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ISettingBL, MCS.Business" mapTo="MCS.Business.SettingBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.ITransactionIndexLogBL, MCS.Business" mapTo="MCS.Business.TransactionIndexLogBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.ITransactionIndexLogRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionIndexLogRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ITransactionLoggingBL, MCS.Business" mapTo="MCS.Business.TransactionLoggingBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.ITransactionLoggingRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionLoggingRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.INotificationBL, MCS.Business" mapTo="MCS.Business.NotificationBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.INotificationRepository, MCS.DataAccess" mapTo="MCS.DataAccess.NotificationRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.ICopiesTrayBL, MCS.Business" mapTo="MCS.Business.CopiesTrayBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.ICopiesOutboundTrayBL, MCS.Business" mapTo="MCS.Business.CopiesOutboundTrayBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.IDraftOutboundTrayBL, MCS.Business" mapTo="MCS.Business.DraftOutboundTrayBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.IManagerTrayBL, MCS.Business" mapTo="MCS.Business.ManagerTrayBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.IMyTransactionsTrayBL, MCS.Business" mapTo="MCS.Business.MyTransactionsTrayBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.IOrgUnitTrayBL, MCS.Business" mapTo="MCS.Business.OrgUnitTrayBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.ISavedTrayBL, MCS.Business" mapTo="MCS.Business.SavedTrayBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.ISentTransactionsTrayBL, MCS.Business" mapTo="MCS.Business.SentTransactionsTrayBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Framework.Notifications.IEmailNotificationService, MCS.Framework" mapTo="MCS.Framework.Notifications.EmailNotificationService, MCS.Framework">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Framework.Notifications.ISMSNotificationService, MCS.Framework" mapTo="MCS.Business.SMSNotificationService, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.ICollaborationBL, MCS.Business" mapTo="MCS.Business.CollaborationBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.ICollaborationRepository, MCS.DataAccess" mapTo="MCS.DataAccess.CollaborationRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IDocProvidersRepository, MCS.DataAccess" mapTo="MCS.DataAccess.DocProvidersRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IUserPreferenceRepository, MCS.DataAccess" mapTo="MCS.DataAccess.UserPreferenceRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IHubTransactionRepository, MCS.DataAccess" mapTo="MCS.DataAccess.HubTransactionRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IHubRecordRepository, MCS.DataAccess" mapTo="MCS.DataAccess.HubRecordRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IHubRQUIDRepository, MCS.DataAccess" mapTo="MCS.DataAccess.HubRQUIDRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IHubAttachmentRepository, MCS.DataAccess" mapTo="MCS.DataAccess.HubAttachmentRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IHubRelatedPersonRepository, MCS.DataAccess" mapTo="MCS.DataAccess.HubRelatedPersonRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IHubTransactionBL, MCS.Business" mapTo="MCS.Business.HubTransactionBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.IHubRecordBL, MCS.Business" mapTo="MCS.Business.HubRecordBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.IHubRQUIDBL, MCS.Business" mapTo="MCS.Business.HubRQUIDBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.IHubAttachmentBL, MCS.Business" mapTo="MCS.Business.HubAttachmentBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.Business.IHubRelatedPersonBL, MCS.Business" mapTo="MCS.Business.HubRelatedPersonBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.IYesserMappingRepository, MCS.DataAccess" mapTo="MCS.DataAccess.YesserMappingRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IYesserMappingBL, MCS.Business" mapTo="MCS.Business.YesserMappingBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <!--<register type="MCS.Business.ITenantBL, MCS.Business" mapTo="MCS.Business.TenantBL, MCS.Business">
        <lifetime type="perRequest"/>
      </register>-->
      <register type="MCS.DataAccess.ITenantManagementRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TenantManagementRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="context" dependencyName="tenantDbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.ITransactionEntityDetailsRepository, MCS.DataAccess" mapTo="MCS.DataAccess.TransactionEntityDetailsRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IReporterBL, MCS.Business" mapTo="MCS.Business.ReporterBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.IReporterRepository, MCS.DataAccess" mapTo="MCS.DataAccess.ReporterRepository, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IDashboardHomeWrapper, MCS.DataAccess" mapTo="MCS.DataAccess.DashboardHomeWrapper, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.Business.IDashboardHomeBL, MCS.Business" mapTo="MCS.Business.DashboardHomeBL, MCS.Business">
        <lifetime type="perRequest" />
      </register>
      <register type="MCS.DataAccess.IReportWrapper, MCS.DataAccess" mapTo="MCS.DataAccess.ReportWrapper, MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
      <register type="MCS.DataAccess.IAdminOperationsWrapper,MCS.DataAccess" mapTo="MCS.DataAccess.AdminOperationsWrapper,MCS.DataAccess">
        <lifetime type="perRequest" />
        <constructor>
          <param name="ambienTTransactionContextLocator" dependencyName="dbContext" />
        </constructor>
      </register>
    </container>
  </unity>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <httpModules></httpModules>
    <sessionState mode="InProc" timeout="20"></sessionState>
    <authentication mode="Windows" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <verbs>
          <add verb="PUT" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework codeConfigurationType="MCS.DataAccess.CodeConfig,MCS.DataAccess" />
</configuration>